<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title>
            <h3 class="headline mb-0">Sound Player</h3>
        </v-card-title>
        <v-card-text>
              <plyr>
                <audio>
                  <source :src="filetest" type="audio/mp3" />
                </audio>
              </plyr>
              <div id="control"><!--control panel-->
                <h2>Control Panel</h2><br><br>
                <v-tooltip bottom><!--reboot bottom-->
                  <v-icon slot="activator" @click="reboot()" id="reboot" >refresh</v-icon>
                  <span>reboot</span>
                </v-tooltip>
              </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default 
{
  data () {
    return {
      filetest:''//file address for sound
    }
    }
}
  </script>