<template>
  <div id="app">
    <v-toolbar flat color="white">
      <!--Table name-->
      <v-toolbar-title>Table</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <!--modal for add new item-->
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn slot="activator" color="primary" dark class="mb-2">New Item</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.name" label="name"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.test1" label="test1"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.test2" label="test2"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.test3" label="test3"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.test4" label="test4"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog><br>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>
    <!--Table-->
    <v-data-table :headers="headers" :items="tests" hide-actions class="elevation-1" xs12 lg12 :search="search">
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.test1 }}</td>
        <td class="text-xs-right">{{ props.item.test2 }}</td>
        <td class="text-xs-right">{{ props.item.test3 }}</td>
        <td class="text-xs-right">{{ props.item.test4 }}</td>
        <!--actions(edit and delete)-->
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="deleteItem(props.item)">delete</v-icon>
        </td>
      </template>
    <template slot="no-data">
    <v-btn color="primary" @click="initialize">Reset</v-btn>
  </template>
  <template slot="pageText" slot-scope="props">
      Lignes {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
    </template>
      </v-data-table>
  </div>
</template>
<!-- -->
<script>
export default {
  data: () => ({
  dialog: false,
  search:'',
  headers: [
  {
  text: 'name',//name of the items
  align: 'left',
  sortable: false,
  value: 'name'
  },
  { text: 'Test1', value: 'test1' },
  { text: 'Test2', value: 'test2' },
  { text: 'Test3', value: 'test3' },
  { text: 'Test4', value: 'test4' },
  { text: 'Test5', value: 'name', sortable: false }
  ],
  tests: [],
  editedIndex: -1,
  editedItem: {
    name: '',
    test1: 0,
    test2: 0,
    test3: 0,
    test4: 0
  },
  defaultItem: {
    name: '',
    test1: 0,
    test2: 0,
    test3: 0,
    test4: 0
  }
  }),
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
  }
},
  watch: {
    dialog (val) {
      val || this.close()
  }
},
    created () {
      this.initialize()
      },
  methods: {
    initialize () {
      this.tests = [
  {
    name: 'name1',
    test1: 159,
    test2: 6.0,
    test3: 24,
    test4: 4.0
  },
  {
    name: 'name2',
    test1: 237,
    test2: 9.0,
    test3: 37,
    test4: 4.3
  },
  {
    name: 'name3',
    test1: 262,
    test2: 16.0,
    test3: 23,
    test4: 6.0
  }
  ]
},
  editItem (item) {
    this.editedIndex = this.tests.indexOf(item)
    this.editedItem = Object.assign({}, item)
    this.dialog = true
  },
  deleteItem (item) {
    const index = this.tests.indexOf(item)
    confirm('Are you sure you want to delete this item?') && this.tests.splice(index, 1)
  },
  close () {
    this.dialog = false
    setTimeout(() => {
    this.editedItem = Object.assign({}, this.defaultItem)
    this.editedIndex = -1
  }, 300)
},
  save () {
    if (this.editedIndex > -1) {
    Object.assign(this.tests[this.editedIndex], this.editedItem)
    }else{
    this.tests.push(this.editedItem)
    }
    this.close()
  }
}
}
</script>
<style type="text/css">
#app
{
  width: 100%;
}
</style>