<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title>
            <h3 class="headline mb-0">File Upload</h3>
        </v-card-title>
        <v-card-text>
          <form>
            Select File : <input id="file" type="file" name="pic" :accept="type" onchange="filesize(this.id)"><br><br>
            <div id="fileuploads">{{value}}</div><br>
            <v-btn @click="submit" :disabled="disable">
              submit
            </v-btn>
          </form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default 
{
  name: 'App',
   data () {
      return {
        type:'.jpg,.mkv',//file types
        disable:true,//submit disabled
        value:''//message for upload file
      }
  },
  methods:{
    submit()
    {
      //submit
    },
    filesize:function(file)
    {
        alert("fff");
    }
}
}
  </script>
  <style type="text/css">
</style>