<template>
  <v-app>
    <div id="app">
      <v-layout wrap row>
        <v-flex xs8 offset-xs2 sm6 offset-sm3 lg8 offset-lg2>
          <v-card hover>
            <v-card-media></v-card-media>
            <v-card-title primary-title>Title</v-card-title>
            <v-card-text>
              <v-form>
                <v-text-field v-model="Name" label="Name"></v-text-field>
                <input type="text" class="persiandata"/>
                <v-icon style="float:left;">date_range</v-icon><span style="float:left;">Select Date:</span><pdatepicker id="pdatepicker" v-model="date"></pdatepicker>
                <v-select :items="items" label="test select"></v-select>
                <div id=btns>
                  <v-btn @click="submit">SUBMIT</v-btn>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
  </v-app>
</template>
<!-- -->
<script>
export default 
{
  name: 'App',
  data () {
    return {
      url: 'http://your-post.url',
      headers: {'access-token': '<your-token>'},
      filesUploaded: [],
      Name: '',
      date:'',
      items: ['test1', 'test2', 'test3', 'test4'],
      date: null,
      modal: false,
      show:false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters'
      }
    }
    },
  methods:{
    submit()
    {
      //submit form
    }
}
}
</script>

 <style type="text/css">
 #app
{
  height: 100%;
  width: 100%;
}
#pdatepicker
{
  float:left;
  margin-left: 10px;
}
</style>