<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title>
            <h3 class="headline mb-0"></h3>
        </v-card-title>
        <v-card-text>
          <v-btn @click="alert=true"><!--button for alert-->
            alert
          </v-btn>
          <v-btn @click="succes = true"><!--button for succes-->
            succes
          </v-btn>
          <v-btn @click="warning = true"><!--button for warning-->
            warning
          </v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
    <div id="alert" class="message" v-show="alert">
      <span class="closebtn" @click="alert = false">&times;</span>
        This is an alert box.
    </div> 
    <div id="warning" class="message" v-show="warning">
      <span class="closebtn" @click="warning = false">&times;</span>
        This is an warning box.
    </div> 
    <div id="succes" class="message" v-show="succes">
      <span class="closebtn" @click="succes = false">&times;</span>
        This is an succes box.
    </div> 
  </v-layout>
</template>
<script>
export default 
{
  name: 'App',
   data () {
      return {
        alert:false,
        succes:false,
        warning:false
      }
  }
}
  </script>
  <style type="text/css">
</style>