.pageen
{
	font-family: OldStandard;
}
.engdirection{
    direction: rtl;
}
.eng-lang-sel
{
	position: fixed;
	right:5px;
	top:10px;
	z-index: 3;
}
 @media only screen and (max-width: 600px) {
.eng-lang-sel
{
	top:7px;
}
}
