.pagefa
{
	font-family: BNazanin;
}
.perdirection{
direction: ltr;
}
.per-lang-sel
{
	position: fixed;
	left:5px;
	top:10px;
	z-index: 3;
}
 @media only screen and (max-width: 600px) {
.per-lang-sel
{
	top:7px;
}
}