/*classes*/
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
} 
/* end classes*/
/*ids*/
#navitem
{
	font-size: 15px;
}
#navitem:hover
{
	font-size: 18px;
}
.message{
    padding: 20px;
    color: white;
    position:fixed;
    float: right;
    width: 400px;
    right:10px;
    bottom: 50px;
}
#alert
{
	background-color: red;
}
#succes
{
	background-color: green;
}
#warning
{
	background-color: orange;
}
#fileuploads
{
	margin-left: 40px;
	font-size: 20px;
}
#control
{
	text-align: center;
	padding:20px;
}
#reboot:hover
{
	cursor: pointer;
	background-color: #bfbfbf;
	border-radius: 400px;
}
/*end ids*/
/*fonts*/
@font-face {
	font-family: OldStandard;
	src: url("../font/OldStandard.ttf");
}
@font-face {
	font-family: BNazanin;
	src: url("../font/BNazanin.ttf");
}
/*end fonts*/