 <template>
  <v-app :class="$ml.get('page')" id="inspire">
<!--language select-->
    <v-btn @click="changelang(),$ml.change(lang),f = !f" flat icon color="red lighten-2" :class="$ml.get('langsel')">
      <v-icon large>language</v-icon>{{slang}}
    </v-btn>
<!-- end language select-->
<!--Start Menu Navgation-->
<!-- right namvigation menu-->
    <v-navigation-drawer v-if="f==true" v-model="drawer" fixed app right temporary :class="$ml.get('direction')">
      <v-list-tile avatar>
        <v-menu offset-y>
          <v-icon slot="activator">arrow_drop_down</v-icon>
      <v-list>
        <v-list-tile>
          <v-list-tile-title>Log Out</v-list-tile-title>
        </v-list-tile>
      </v-list>
        </v-menu>
      <v-list-tile-avatar>
        <img src="https://randomuser.me/api/portraits/men/85.jpg" ><!--user picture-->
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>{{user}}</v-list-tile-title>
      </v-list-tile-content>
      </v-list-tile>
  <hr>
      <v-list v-for="item in $ml.get('menu')" :key="item" dense>
        <v-list-tile id="navitem" :to="item.url">
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{item.title}}</v-list-tile-title>
        </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
<!-- left navihation menu-->
    <v-navigation-drawer v-else style="direction: rtl" v-model="drawer" fixed app left temporary :class="$ml.get('direction')">
      <v-list-tile avatar>
        <v-menu offset-y>
          <v-icon slot="activator">arrow_drop_down</v-icon>
          <v-list>
            <v-list-tile>
              <v-list-tile-title>Log Out</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      <v-list-tile-avatar>
        <img src="https://randomuser.me/api/portraits/men/85.jpg" ><!--user picyure-->
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title>{{user}}</v-list-tile-title>
      </v-list-tile-content>
      </v-list-tile>
  <hr>
      <v-list v-for="item in $ml.get('menu')" :key="item" dense>
        <v-list-tile id="navitem" :to="item.url">
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{item.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
<!--End Menu Navgation-->
<!--Start Toolbar-->
    <v-toolbar  color="indigo" dark fixed app :class="$ml.get('direction')">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{$ml.get('appname')}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
      </v-toolbar-items>
    </v-toolbar>
<!--End Toolbar-->
<!--router  view-->
    <v-content>
      <v-container style="width:100%" fluid fill-height>
        <v-layout>
          <router-view/>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2017</span>
    </v-footer>
  </v-app>
</template>
<!-- -->
<script>
export default {
  name: 'App',
    data () {
      return {
        f:true,//true for right drawer and false for left drawer
        drawer: true,//show of drawer
        lang:'fa',//current language
        slang:'en',//second language
        user : 'user'//user name
        }
    },
    methods:{
      changelang : function()//change language
      {
        if(this.lang == 'en'){
          this.slang ='en';
          this.lang = 'fa';
      }else{
          this.slang = 'fa';
          this.lang = 'en';
      }
      }
    }
}
</script>
<style>
</style>